.select {
  padding: 5px;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  transform: scale(1);
  transition: border 250ms ease, transform 250ms ease;

  &:hover,
  &:focus {
    border: 1px solid blue;
    transform: scale(1.02);
    cursor: pointer;
  }
}
